body {
  margin: 0;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  text-align: center;
}

.logo {
  padding: 10px 0; 
  text-align: center;
}

.trademark {
  background-color: #2283c9;
  padding: 60px 10px;
  margin-bottom: 40px; 
}

.trademark-title {
  margin: 0px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}

.title {
  text-align: center;
}

.title-message {
  font-size: 24px;
}

.title hr {
  margin: 0px 200px;
  background-color: #000000;
}

.houses {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 0 10px;
}

.houses article {
  margin: 30px 0;
  max-width: 100%;
}

.houses article img{
  max-width: 100%;
}

.houses article h3{
  font-size: 18px;
  color: #686868;
  margin-bottom: 20px;
}

a.button-green {
  background: #127d00;
  color: #ffffff;
  text-decoration: wavy;
  padding: 10px 15px;
}

@media(min-width: 600px) {
  .trademark {
    padding: 80px 15px;
  }

  .houses article {
    float: left;
    width: calc(50% - 10px);
  }

  .houses article:nth-child(even) {
    margin-left: 20px;
  }

}

@media (max-width: 600) {
  .logo {
    padding: 40px 0;
  }
}